@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");
html,
body {
  font-family: Lora, verdana;
}

/*  */
/* start little container */
/*  */
.little-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

/*  */
/* start header */
/*  */
.header {
  width: 100%;
  padding: 0px 10px 10px;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 1.625;
}
@media screen and (max-width: 600px) {
  .header__wrapper {
    align-items: flex-end;
  }
}

@media screen and (max-width: 600px) {
  .header__link-logo {
    height: 44px;
    margin-right: 80px;
  }
}

@media screen and (max-width: 480px) {
  .header__link-logo {
    height: 34px;
    margin-right: 40px;
  }
}

.header__logo {
  height: 28px;
  margin-right: 30px;
}

@media screen and (max-width: 600px) {
  .header__logo {
    height: 44px;
  }
}

@media screen and (max-width: 480px) {
  .header__logo {
    height: 34px;
  }
}

.header__menu-nav {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .header__menu-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 12px 40px 0 40px;
  }
}

.header__menu-item {
  margin-right: 20px;
}

.header__menu-link {
  color: #3a414e;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.35;
  font-family: "Lora", verdana;
}

@media screen and (max-width: 768px) {
  .header__menu-link {
    font-size: 16px;
  }
}

.header__menu-link--active {
  color: #ff9907;
}

@media screen and (max-width: 600px) {
  .header__column {
    width: 100%;
    position: relative;
  }
}

@media screen and (max-width: 600px) {
  .header__column--visibility {
    display: none;
  }
}

.header__link-icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-right: 3px;
}

@media screen and (max-width: 600px) {
  .header__link-icon {
    display: none;
  }
}

.header__icon {
  height: 16px;
  padding: 8px;
  transition: 0.4s;
}

.header__icon--facebook {
  background-image: url("../imgs/header/facebook.svg");
}

.header__link-icon:hover .header__icon--facebook {
  background-image: url("../imgs/header/facebook-orange.svg");
}

.header__icon--twitter {
  background-image: url("../imgs/header/twitter-alt.svg");
}

.header__link-icon:hover .header__icon--twitter {
  background-image: url("../imgs/header/twitter-orange.svg");
}

.header__icon--insta {
  background-image: url("../imgs/header/instagram.svg");
  padding: 9px;
}

.header__link-icon:hover .header__icon--insta {
  background-image: url("../imgs/header/instagram-orange.svg");
}

.header__icon--linkedin {
  background-image: url("../imgs/header/linkedin.svg");
}

.header__link-icon:hover .header__icon--linkedin {
  background-image: url("../imgs/header/linkedin-orange.svg");
}

.header__icon--spacing {
  margin-right: 0;
}

/*  */
/* start banner */
/*  */
.banner {
  position: relative;
  padding: 10px;
  margin: 0 0 30px;
}

@media screen and (max-width: 768px) {
  .banner {
    margin: 0 0 14px;
  }
}

.banner__photo {
  width: 100%;
}

.banner__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.625;
}

.content__head {
  font-size: 28px;
  font-weight: 500;
  color: #ffff;
  letter-spacing: 0.33;
  font-family: "Lora", verdana;
}

.content__text {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.33;
  font-family: "Lora", verdana;
}

.content__date {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.33;
  font-family: "Lora", verdana;
}

@media screen and (max-width: 768px) {
  .content__head {
    margin-bottom: 4px;
    font-size: 12px;
  }

  .content__text {
    margin-bottom: 4px;
    font-size: 15px;
  }

  .content__date {
    margin-bottom: 4px;
    font-size: 12px;
  }
}
/*  */
/* start section */
/*  */
.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: justify;
  margin: 0 0 50px;
  padding: 10px;
  line-height: 1.625;
}

@media screen and (max-width: 768px) {
  .section {
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 34px;
  }

  .section :nth-child(2) {
    margin: 0 0 8px;
  }
}

/*  */
/* start card */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 450px;
  margin: 0 50px 50px 0;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .card {
    width: 46%;
    height: auto;
    margin: 0 14px 22px 0;
  }
}

.card--spacing {
  margin: 0 0 50px 0;
}

@media screen and (max-width: 768px) {
  .card--spacing {
    margin: 14px 0;
  }
}

.card__photo {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .card__photo {
    margin-bottom: 14px;
  }
}

.card__link {
  width: 200px;
  height: 50px;
  margin-bottom: 30px;
  padding: 10px;
  font-size: 18px;
  color: #ff9907;
  text-align: center;
  font-family: "Lora", verdana;
  border: 2px solid #222;
  background-color: #222;
  transition: all 0.7s ease;
}

.card__link:hover {
  background-color: #ff9907;
  color: black;
  border: 2px solid #ff9907;
}

@media screen and (max-width: 768px) {
  .card__link {
    width: 80px;
    height: 24px;
    font-size: 10px;
    padding: 3px;
  }
}
.card__head {
  color: #3a414e;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.5;
  font-family: "Lora", verdana;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .card__head {
    font-size: 16px;
    letter-spacing: 0.22;
    margin: 0 10px 10px 0;
  }
}

.card__text {
  font-size: 16px;
  color: #797979;
  font-weight: 400;
  font-family: "Lora", verdana;
  line-height: 1.625;
}

@media screen and (max-width: 768px) {
  .card__text {
    font-size: 12px;
  }
}

/*  */
/* start content */
/*  */
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .content {
    margin-bottom: 24px;
  }
}

/*  */
/* start content column */
/*  */
.content__blog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}

@media screen and (max-width: 768px) {
  .content__blog {
    width: 60%;
    margin-right: 12px;
    justify-content: start;
  }
}

/*  */
/* start blog */
/*  */

.blog__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 700px;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .blog__card {
    justify-content: start;
    align-items: center;
    text-align: center;
    height: auto;
    margin-bottom: 24px;
  }
}

.blog__img {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .blog__img {
    margin-bottom: 16px;
  }
}

.blog__link {
  margin-bottom: 30px;
  font-size: 27px;
  font-weight: 700;
  color: #3a414e;
  line-height: 1.333;
  letter-spacing: 0.5;
}

@media screen and (max-width: 768px) {
  .blog__link {
    font-size: 16px;
    letter-spacing: 0.22;
    margin: 0 10px 10px 0;
  }
}

.blog__text {
  margin-bottom: 30px;
  font-family: "Lora", verdana;
  font-size: 16px;
  font-weight: 400;
  color: #777777;
  line-height: 1.625;
}

@media screen and (max-width: 768px) {
  .blog__text {
    font-size: 12px;
    letter-spacing: 0.33;
  }
}

.blog__button {
  position: relative;
  width: 130px;
  padding: 15px;
  border: 2px solid #222;
  font-size: 13px;
  font-weight: 500;
  color: #ff9907;
  text-transform: uppercase;
  background-color: #222;
  text-align: start;
  transition: all 0.7s ease;
}

@media screen and (max-width: 768px) {
  .blog__button {
    width: 90px;
    height: 24px;
    font-size: 10px;
    padding: 5px;
  }
}

.blog__button--arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
  background-image: url("../imgs/content/arrow-orange.svg");
  width: 18px;
  height: 18px;
  transition: all 0.7s ease;
}

@media screen and (max-width: 768px) {
  .blog__button--arrow {
    right: 2px;
    width: 16px;
    height: 17px;
  }
}

.blog__button:hover .blog__button--arrow {
  background-image: url("../imgs/content/arrow-right.svg");
}

.blog__button:hover {
  background-color: #ff9907;
  color: #222;
  border: 2px solid #ff9907;
}

/*  */
/* start widgets */
/*  */
.widgets {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
  padding: 50px 10px 50px 50px;
}

@media screen and (max-width: 768px) {
  .widgets {
    width: 38%;
    padding: 6px 10px;
  }
}

.widgets__aside {
  margin-bottom: 100px;
}

.widgets__aside-wrap {
  position: relative;
}

.widgets__title {
  position: relative;
  font-size: 24px;
  font-weight: 800;
  color: #3a414e;
  line-height: 1.333;
  letter-spacing: 1.35;
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .widgets__title {
    font-size: 20px;
  }
}

.widgets__title-backline {
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: orange;
  height: 4px;
  width: 25%;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .widgets__title-backline {
    width: 40%;
  }
}

@media screen and (max-width: 460px) {
  .widgets__title-backline--position {
    top: 46px;
  }
}

.widgets__form-email {
  min-width: 200px;
  width: 100%;
  height: 50px;
  padding: 0px 15px;
  margin-bottom: 16px;
  font-size: 14px;
  color: #999999;
  border-radius: 0px;
  border-color: rgba(112, 111, 135, 0.2);
}

.widgets__form-email:focus {
  outline: 1px solid #ff9907;
}

@media screen and (max-width: 768px) {
  .widgets__form-email {
    min-width: 100px;
    width: 100%;
    height: 34px;
    padding: 0 8px;
    font-size: 12px;
    text-align: center;
  }
}

.widgets__form-subscribe {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  font-size: 13px;
  font-weight: 500;
  color: #ff9907;
  background: #222;
  border: 1px solid #222;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.widgets__form-subscribe:hover {
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  .widgets__form-subscribe {
    min-width: 100px;
    width: 100%;
    height: 34px;
    padding: 0 8px;
    font-size: 12px;
    text-align: center;
  }
}

.widgets__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  padding: 10px 14px 10px 28px;
}

@media screen and (max-width: 768px) {
  .widgets__item {
    height: auto;
    padding: 6px 6px 14px;
  }
}

.widgets__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  color: #797979;
  font-weight: 400;
  margin-bottom: 0px;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 768px) {
  .widgets__link {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 600;
  }
}

.widgets__link:hover {
  color: #ff9907;
}

/*  */
/* start widgets aside spasing */
/*  */
.widgets__aside--spacing {
  margin: 80px 0 100px;
  height: auto;
}

.widgets__aside-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 24px;
  height: auto;
}

.widgets__card-wrap {
  position: relative;
  margin-bottom: 24px;
}

.widgets__card-photo {
  width: 100%;
}

.widgets__card-link {
  position: absolute;
  bottom: 0px;
  left: 0;
  font-size: 14px;
  color: #797979;
  font-weight: 400;
  text-align: center;
  background: white;
  z-index: 10;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .widgets__card-link {
    display: none;
  }
}

.widgets__card-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.33;
  color: #3a414e;
  margin-bottom: 10px;
  transition: all 0.3s ease 0s;
}

.widgets__card-title:hover {
  color: #ff9907;
}

@media screen and (max-width: 768px) {
  .widgets__card-title {
    font-size: 13px;
  }
}

/*  */
/* widget list */
/*  */

.widgets__list {
  list-style: none;
}

.widgets__inside {
  margin: 15px 10px;
}

.widgets__inside :hover {
  background: #222;
  color: #ff9907;
}

.widgets__inside-link {
  border: 1px solid transparent;
  background: #fff;
  padding: 3px 12px;
  transition: all 0.3s ease 0s;
  color: #777777;
  font-size: 14px;
}

/* start row */
.row {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px;
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .row {
    padding: 25px;
    margin-bottom: 24px;
  }
}

.row__pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  color: #ff9907;
}

.row__item {
  margin-right: 12px;
}

.row__item-link {
  padding: 0.8rem 1.05rem;
  font-size: 18px;
  font-weight: 300;
  color: #222;
}

@media screen and (max-width: 768px) {
  .row__item-link {
    padding: 0.4rem 0.6rem;
    font-size: 14px;
  }
}

.row__item-link--border {
  border: 2px solid #222;
  color: #ff9907;
}

.row__item-link:hover {
  color: #ff9907;
  border: 2px solid #222;
}

.row__item-icon {
  height: 12px;
}

/*  */
/* start footer */
/*  */
.footer {
  width: 100%;
  padding: 0;
  background: #000000;
}

.footer__container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 100px;
}

@media screen and (max-width: 768px) {
  .footer__container {
    padding: 24px;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__box {
  width: 23%;
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .footer__box {
    width: 45%;
    margin: 0 10px 12px 0;
  }
}

.footer__container :last-child {
  margin-right: 0;
}

.footer__title {
  color: #fff;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .footer__title {
    font-size: 14px;
    margin-bottom: 16px;
  }
}

.footer__text {
  font-size: 16px;
  color: #797979;
  font-family: "Lora", verdana;
  font-weight: 500;
  line-height: 1.625;
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .footer__text {
    font-size: 12px;
    line-height: 1.33;
  }
}

.footer__span {
  font-size: 16px;
  color: #797979;
  font-family: "Lora", verdana;
  font-weight: 500;
  line-height: 1.625;
  margin-bottom: 14px;
}

@media screen and (max-width: 768px) {
  .footer__span {
    font-size: 12px;
    line-height: 1.33;
  }
}

.footer__form {
  display: flex;
  width: 100%;
  min-width: 200px;
  margin-top: 20px;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .footer__form {
    margin-top: 16px;
  }
}

.footer__form-email {
  border: none;
  width: 80%;
  font-weight: 300;
  background: #191919;
  color: #555555;
  padding: 10px 20px;
  border-radius: 0;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .footer__form-email {
    width: 50%;
    font-size: 12px;
    padding: 6px 14px;
  }
}

.footer__form-email:focus {
  outline: 1px solid #ff9907;
}

.footer__form-position {
  position: relative;
}

.footer__form-submit {
  padding: 10px 20px;
  background-color: #ff9907;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .footer__form-submit {
    height: 34px;
    padding: 6px 12px;
  }
}

.footer__arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.footer__photo {
  width: 24%;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .footer__photo {
    width: 40%;
  }
}

.footer__wrap-icons {
  margin-top: 25px;
}

.footer__link-icon {
  margin: 25px 10px 0 0;
  padding: 5px;
  height: 16px;
}

.footer__icon {
  display: inline-block;
  height: 16px;
  padding: 8px;
  transition: 0.4s;
}

.footer__icon--facebook {
  background-image: url("../imgs/footer/facebook.svg");
}

.footer__link-icon:hover .footer__icon--facebook {
  background-image: url("../imgs/footer/facebook-orange.svg");
}

.footer__icon--twitter {
  background-image: url("../imgs/footer/twitter-alt.svg");
}

.footer__link-icon:hover .footer__icon--twitter {
  background-image: url("../imgs/footer/twitter-orange.svg");
}

.footer__icon--insta {
  background-image: url("../imgs/footer/instagram.svg");
  padding: 9px;
}

.footer__link-icon:hover .footer__icon--insta {
  background-image: url("../imgs/footer/instagram-orange.svg");
}

.footer__icon--linkedin {
  background-image: url("../imgs/footer/linkedin.svg");
}

.footer__link-icon:hover .footer__icon--linkedin {
  background-image: url("../imgs/footer/linkedin-orange.svg");
}

.footer__done {
  margin-top: 64px;
  padding: 20px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer__done {
    font-size: 14px;
    margin-top: 24px;
  }
}

.footer__done-span {
  color: #ff9907;
}

/*  */
/* start archive */
/*  */
/* start banner */
/*  */
.banner__head {
  font-size: 50px;
  font-weight: 900;
  color: #fff;
  letter-spacing: 1.5;
  font-family: "Lora", verdana;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .banner__head {
    font-size: 20px;
    margin-bottom: 0;
  }
}

/*  */
/* start content wrap */
/*  */
.content__wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  width: 70%;
}

@media screen and (max-width: 768px) {
  .content__wrap {
    width: 60%;
    margin-top: 8px;
  }
}

/*  */
/* start blog card archive */
/*  */
.blog__card--archive {
  height: 600px;
  width: 48%;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .blog__card--archive {
    width: 100%;
    height: auto;
    margin-bottom: 42px;
  }
}

.blog__img--archive {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .blog__img--archive {
    margin-bottom: 12px;
  }
}

.blog__link--archive {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .blog__link--archive {
    margin-bottom: 12px;
  }
}

.blog__text--archive {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .blog__text--archive {
    margin-bottom: 12px;
  }
}

/*  */
/* start contact */
/*  */

/*  */
/* section */
/*  */
.block__section {
  width: 100%;
  height: 350px;
  margin: 0 0 50px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .blog_section {
    height: 200px;
  }
}

.section__map {
  width: 100%;
  height: 100%;
}

/*  */
/* contact */
/*  */
.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .contact {
    flex-direction: column;
  }
}

.contact__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  margin-right: 18px;
}

@media screen and (max-width: 768px) {
  .contact__box {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}

.contact__box--size {
  width: 40%;
  margin-right: 0;
  align-items: flex-end;
}

.contact__wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 4px 0;
  margin-bottom: 14px;
}

.contact__icon {
  font-size: 20px;
  height: 20px;
  margin-right: 24px;
}

.contact__header {
  font-size: 16px;
  color: #3a414e;
  font-weight: 700;
  line-height: 1.333;
  margin-bottom: 0;
}

.contact__text {
  font-size: 16px;
  color: #797979;
  font-weight: 400;
  line-height: 1.625;
}

.contact__form {
  height: 40px;
  min-width: 200px;
  width: 100%;
  font-size: 14px;
  letter-spacing: 0.35;
  outline: none;
  border: none;
  padding: 6px 8px;
  margin-bottom: 14px;
}

.contact__form:focus {
  outline: 1px solid #ff9907;
}

.contact__form--size {
  height: 140px;
}

.contact__enter {
  width: 164px;
  height: 50px;
  padding: 12px 20px;
  font-size: 11px;
  font-weight: 500;
  color: #ff9907;
  background: #222;
  border: 1px solid #222;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  outline: none;
}

.contact__enter:hover {
  background-color: #ff9907;
  color: #222;
  border: 2px solid #ff9907;
}

/*  */
/*  */
.header__burger-wrapper {
  display: none;
  position: relative;
}

@media screen and (max-width: 600px) {
  .header__burger-wrapper {
    display: inline-block;
  }
}

.header__burger-icon {
  width: 22px;
}

@media screen and (max-width: 600px) {
  .header__burger-icon {
    width: 40px;
    margin-left: 80px;
  }
}

.burger-wrapper__menu {
  position: fixed;
  top: 50px;
  right: -20px;
  display: none;
  width: 160px;
  height: 100vh;
  padding: 50px;
  text-align: center;
  /* background-color: #ff9907; */
  background: #3a414e;
  z-index: 999;
  transition: box-shadow 400ms;
}

.header__burger-wrapper:hover .burger-wrapper__menu {
  display: block;
  top: 0;
  right: 0px;
}

.burger-wrapper__link {
  color: #fff;
  font-size: 16px;
  font-weight: 900;
}

.burger-wrapper__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}

.burger-wrapper__social {
  height: 16px;
  margin-bottom: 8px;
  cursor: pointer;
}

.burger-wrapper__icon {
  height: 16px;
}
